# Exclude Datasets and NPY files
Datasets/
*.npy
*.wav
*.csv
*.doc
*.meta

# Exclude Python cache and environments
__pycache__/
*.pyc
.venv/
anaconda3/

# Exclude Model Weights and Logs
*.pth
*.pt
logs/

*.png
*.txt
*.ipynb


# Data and Checkpoints
*.pt
*.pth
*.ckpt
data/
logs/
checkpoints/

# Cluster and OS artifacts
*.slurm
*.out
*.err
.DS_Store
__pycache__/