# Exclude Datasets and NPY files
Datasets/
*.npy
*.wav
*.csv
*.doc
*.meta

# Exclude Python cache and environments
__pycache__/
*.pyc
.venv/
anaconda3/

# Exclude Model Weights and Logs
*.pth
*.pt
logs/

*.png
